body {
    background: linear-gradient(to bottom, darkviolet, darkblue) fixed;
    font-family: 'Ubuntu', 'Caladea', 'Lucida sans'sans;
}



.container {
    background: none;
    display: grid;
    scroll-behavior: smooth;
    grid-template-columns: repeat(3, 450pt);
}

.panel {
    background-color: hsla(33, 78%, 91%, 0.555);
    border-radius: 20pt;
    display: block;
    margin-bottom: 5pt;
}

article {
    background-color: aliceblue;
    display: block;
    text-align: justify;
    border-radius: 20pt;
    padding: 8pt;
    margin: 15pt;
}


.caption {
    text-align: center;
}

.navButtons {
    position: absolute;
    font-size: medium;
    font-weight: bold;
    top: 1pt;
    padding-left: 8pt;
    left: 8pt;
}

.image {
    height: 300pt;
    width: 400pt;
    padding: 5px;
    border-radius: 10pt;
}


.clock {
    position: absolute;
    font-size: medium;
    font-weight: bold;
    padding-top: 4pt;
    padding-right: 8pt;
    top: 1pt;
    right: 8pt;
}


.dock {
    text-align: center;
    display: block;
    padding: 2pt;
    font-size: large;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}