header {}

.container {
    display: flex;
}

container>div {
    flex: 25%;
    flex-direction: row;
    max-width: 25%;
    padding: 0 4px;
}

@media (max-width: 800px) {
    container>div {
        flex: 50%;
        flex-direction: column;
        max-width: 50%;
        height: auto;
    }
}

@media (max-width: 500px) {
    container>div {
        flex: 100%;
        flex-direction: column;
        max-width: 100%;
        height: 300px;
    }
}

.top-big-image {
    flex-grow: 3;
}

.top-small-img {
    align-self: flex-end;
}

.bottom-big-img {}

.bottom-small-img {}