header>h1{
    text-align: center;
    font-family: Caladea;
    font-style:oblique;
    color: white;

    border-radius: 12px;
    background-color: rgb(19, 6, 136);
}
.container {
    display: flex;
    flex: 25%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    padding: 20px;
}

.container>img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    padding: 10px;
}
